<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>EVENTS PAGE</h1>
        <a href="/events/new"><button>+ Add Event</button></a>
      </div>
    </header>
    <main>
      <div class="event-list container">
        <h1>List of all Events...</h1>
        <ul>
          <%events.forEach((event)=>{%>
          <li><a href="/events/<%= event._id%>"><%= event.title%></a></li>
          <%})%>
        </ul>
      </div>
    </main>
  </body>
</html>
